*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(FA_cc_codemosh_nobadge.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    max-width: 550px;
    width: 90%;
    max-height: 100%;
    background: rgba(255, 255, 255, 0.795);
    padding: 40px;
    box-sizing: border-box;
    border-radius: 3px;
    margin: 10px;
}
h1{
    text-align: center;
    margin-bottom: 1rem;
}
label{
    display: block;
    margin: 15px 0;
}
input, textarea{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: none;
    border-bottom: 1px solid rgb(179, 179, 179);
}
input[type="text"]:focus,input[type="email"]:focus, textarea:focus{
    border-bottom: 1px solid rgb(255, 0, 43);
}
.center{
    text-align: center;
}
input[type='submit']{
    margin-top: 30px;
    width: 90%;
    max-width: 200px;
    background: linear-gradient(to right, rgb(255, 0, 43), yellow);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: 700;
    font-size: 16px;
}
